{% comment %}

shortcode-row.liquid

DESCRIPTION:

Adds a grid row to the layout.

ATTRIBUTES

- start
- finish
- css_class

Example:

[row start css_class="example"]

[row finish]


{% endcomment %}

{% capture row %}{{variable[0]}}{% endcapture %}
{% capture rowExtraCssClass %}{% include 'shortcode-render' render:'css_class' default:'' %}{% endcapture %}

{% assign rowClasses = 'row' %}

{% comment %}
add extra classes
{% endcomment %}
{% if rowExtraCssClass != '' %}
  {% assign rowClasses = rowClasses | append: ' ' | append: rowExtraCssClass %}
{% endif %}

{% case row %}
    {% when 'start' %}
<div class="{{ rowClasses }}">
    {% when 'finish' %}
</div><!-- /.row -->
{% endcase %}
